<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Bulk Removals
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <!--<i class="fa fa-inbox font-green"></i>-->
                                    <span class="caption-subject font-green bold uppercase">BULK REMOVALS</span>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="panel panel-info">


                                    <form class="form-bordered form-horizontal" name="deleteform" data-ng-submit="" novalidate>
                                        <div class="form-group">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-5">
                                                <select tabindex="1" ng-model="BulkRemovalsCtrl.classId" name="classId" class="form-control" required>
                                                <option value="">Class </option>
                                                <option ng-repeat="class in BulkRemovalsCtrl.classList" value="{{class.id}}">{{class.className}}-{{class.sectionName}}</option>
                                            </select>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="btn-group">
                                                    <button tabindex="2" class="btn green" type="submit" ng-bootbox-confirm="Are you sure you want to delete Time Table For This Class ?"
                                                        ng-bootbox-confirm-action="BulkRemovalsCtrl.confirmCallbackMethod($index)"
                                                        ng-bootbox-confirm-action-cancel="BulkRemovalsCtrl.confirmCallbackCancel($index)"
                                                        data-ng-disabled="deleteform.$invalid">
                                                    Delete
                                                    <i class="fa fa-upload"></i>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->