    <!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-cloak="">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home.console">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Marks
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light portlet-fit ">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list-alt font-green"></i>
                                    <span class="caption-subject font-green bold uppercase">Marks</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <select data-ng-model="FomarksCtrl.formFields.classId" name="classId" class="form-control input-sm" data-ng-change="FomarksCtrl.selectClass()">
                                                <option value="">Class-Section</option>
                                                <option ng-if="userRole !=='Staff'" ng-repeat="class in FomarksCtrl.classList" value="{{class.id}}">{{class.className}} {{class.sectionName}}</option>
                                                <option ng-if="userRole =='Staff'" ng-repeat="class in FomarksCtrl.classesList | orderBy:'class.sequenceNumber'" value="{{class.class.id}}">{{class.class.className}} {{class.class.sectionName}}</option>                                                
                                            </select>
                                            </div>
                                        <div class="col-md-3">
                                            <select data-ng-model="FomarksCtrl.formFields.examId" name="examId" class="form-control input-sm" ng-change="FomarksCtrl.selectExam()"
                                                ng-show="FomarksCtrl.examList">
                                                <option value="">Exam</option>
                                                <option ng-repeat="exam in FomarksCtrl.examList" value="{{exam.id}}">{{exam.examName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select data-ng-model="FomarksCtrl.formFields.subjectId" name="subjectId" class="form-control input-sm" ng-change="FomarksCtrl.subjectFilter.subjectId = FomarksCtrl.formFields.subjectId;FomarksCtrl.getExistingMarks() "
                                                ng-show="FomarksCtrl.subjectList">
                                                <option value="">Subject</option>
                                                <option ng-repeat="subject in FomarksCtrl.subjectList" value="{{subject.subjectId}}">{{subject.subjectName}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <div class="btn-group">
                                                <button class="btn green" ng-show="!FomarksCtrl.editMode && FomarksCtrl.formFields.classId && FomarksCtrl.formFields.examId && FomarksCtrl.formFields.subjectId"
                                                    data-ng-click="FomarksCtrl.showTable = true; FomarksCtrl.showEditButton = true">
                                                    <i class="fa fa-check" ></i> View
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button class="btn green" data-ng-click="FomarksCtrl.editMode = true;" ng-show="FomarksCtrl.showEditButton">
                                                    <i class="fa fa-check"></i> Edit
                                                </button>
                                            </div>
                                            <div class="btn-group" ng-show="FomarksCtrl.editMode">
                                                <button class="btn green" ng-click="FomarksCtrl.saveMarks()">
                                                        <i class="fa fa-check" ></i> Update
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- INNER CONTENT GOES HERE-->
                                <div class="row" ng-show="FomarksCtrl.showTable">
                                    <div class="col-md-12 col-sm-12">
                                        <table class="table table-striped table-hover table-bordered sm_editable_grid" id="marks_datatable">
                                            <thead>
                                                <tr>
                                                    <th data-ng-repeat="head in  FomarksCtrl.headers">
                                                        {{head}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="students in FomarksCtrl.representableStudentList |orderBy : 'rollNo1'">
                                                    <td ng-init="FomarksCtrl.orderByRollNo(students);">{{students.firstName}}{{students.lastName}}</td>
                                                    <td>{{students.rollNo}}</td>
                                                    <td data-ng-repeat="sub in students.assesments" ng-if="sub.maxMarks">
                                                        <div class="col-md-2 no-padding" style="width:100%">
                                                            <input ng-show="FomarksCtrl.editMode" type="number"  max="{{sub.maxMarks}}" min="0" ng-keyup="FomarksCtrl.maxCheck(sub,$event.keyCode)" class="form-control" ng-model="sub['marks']" />
                                                            <span ng-show="!FomarksCtrl.editMode">
                                                                {{sub.marks || 0}}
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-2 no-padding" style="width:100%">
                                                            <input ng-show="FomarksCtrl.editMode" type="text" class="form-control" ng-model="students['remarks']" />
                                                            <span ng-show="!FomarksCtrl.editMode">
                                                                {{students.remarks || '--'}}
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<style>
    .no-padding {
        padding: 0 !important;
    }

    .label-spacing {
        padding-top: 6px;
        padding-right: 10px;
    }
</style>
