<!-- BEGIN PRE-FOOTER -->

<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="page-footer" id="mainFooter">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <p>
                    <strong>Study Monitor</strong> &copy; 2016. All Rights Reserved.
                    <br> Powered By:
                    <a href="http://studymonitor.net" title="Study Monitor" target="_blank">
                        <strong>Study Monitor</strong>
                    </a>

                </p>
                <p>
                    <a href="http://studymonitor.net/contact-us" target="_blank">
                        <strong>Contact Us</strong>
                    </a>
                </p>


                <!--2016 &copy;<a href="http://studymonitor.net" target="_blank">Study Monitor!</a>-->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                <h2 style="font-size:17px;">Follow Us On</h2>
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/studymonitor" target="_blank" data-original-title="facebook" class="facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/" target="_blank" data-original-title="youtube" class="youtube"></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/" target="_blank" data-original-title="twitter" class="twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank" data-original-title="linkedin" class="linkedin"></a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
                    </li>
                </ul>
            </div>
            <!--<div class="col-md-4" style="margin-top:-17px;">
                <a target="blank_" href="https://msg91.com/startups/?utm_source=startup-banner">
                    <img src="https://msg91.com/images/startups/msg91Badge.png" width="100" height="70" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
            </div>-->
        </div>
    </div>
</div>

<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<div>
    <nav mfb-menu position="bl"  bgcolor='#3F51B5' effect="zoomin" label="Support"  active-icon="ion-headphone" resting-icon="ion-ios-telephone"
        toggling-method="hover" menu-state="menuState">
        <button mfb-button bgcolor='#3F51B5' icon="ion-ios-telephone"  label="040-48559553 , 6304 742 949"></button>
        <button mfb-button bgcolor='#3F51B5' icon="ion-email" onClick="window.open('mailto:support@studymonitor.net?Subject=Complantent');" label="support@studymonitor.net"></button>
        <button mfb-button bgcolor='#3F51B5' icon="ion-social-skype" label="live:studymonitor"></button>
    </nav>
 
    </div>
<!-- END FOOTER -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/586cced89d4fd220380c69b1/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();

</script>

<style>
    .md-sidenav-left .md-theme-indigo, .md-sidenav-left .nav-theme {
    background-color: #34495e;
}

/* $main-color: #E40A5D; */
</style>
<!--End of Tawk.to Script-->