<div class="page-container">
      <!-- BEGIN PAGE CONTAINER -->
      <div class="page-content">
            <!-- BEGIN PAGE CONTENT -->
            <div class="container">
                  <ul class="page-breadcrumb breadcrumb">
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <li>
                              <a ui-sref="home.console">Home</a>
                              <i class="fa fa-circle"></i>
                        </li>
                        <li class="active">
                              Lesson Planner
                        </li>
                  </ul>
                  <!-- END PAGE BREADCRUMB -->
                  <div class="page-content-inner">
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="row">
                              <div class="col-md-12">
                                    <div class="portlet light portlet-fit ">
                                          <!-- BEGIN EXAMPLE TABLE PORTLET-FIT-->
                                          <div class="portlet-title">
                                                <div class="caption">
                                                      <i class="fa fa-calendar font-green"></i>
                                                      <span class="caption-subject font-green bold uppercase">Lesson Planner</span>
                                                </div>
                                          </div>
                                          <div class="portlet-body">
                                                <!-- BEGIN PORTLET-BODY-->
                                                <div class="table-toolbar">
                                                      <div class="row">
                                                            <div class="col-lg-12 col-md-12">
                                                                  <!--<h1 ng-show="userRole == 'Student'">Coming Soon....</h1>-->
                                                                  <div class="btn-group">
                                                                        <div class="col-md-6">
                                                                              <div class="form-group">
                                                                                    <select ng-show="userRole=='Admin'||userRole=='Staff'" class="form-control" data-ng-change="lessonPlnrCtrl.Bhasha()" tabindex="1"
                                                                                          name="lessonClassId" data-ng-model="lessonPlnrCtrl.formFields.showClassId"
                                                                                          required>
                                                                                          <option value="">Select Class</option>
                                                                                          <option  ng-repeat="class in lessonPlnrCtrl.classList" value="{{class.id}}">{{class.className}}-{{class.sectionName}}</option>
                                                                                    </select>
                                                                                    <select ng-show="userRole=='Student'" class="form-control" data-ng-change="lessonPlnrCtrl.Bhasha()" name="lessonClassId"
                                                                                          data-ng-model="lessonPlnrCtrl.formFields.showClassId"
                                                                                          tabindex="1" required>
                                                                                          <option value="">Select Class</option>
                                                                                          <option  ng-repeat="class in lessonPlnrCtrl.classList|unique:'class.className'" value="{{class.class.id}}">{{class.class.className}}-{{class.class.sectionName}}</option>
                                                                                    </select>
                                                                              </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                              <div class="form-group" style="width:135px">
                                                                                    <select class="form-control" name="lessonSubjId" data-ng-keypress="lessonPlnrCtrl.checkclass(lessonPlnrCtrl.formFields.showClassId)"
                                                                                          data-ng-click="lessonPlnrCtrl.checkclass(lessonPlnrCtrl.formFields.showClassId)"
                                                                                          data-ng-change="lessonPlnrCtrl.selectedSubject(lessonPlnrCtrl.formFields.showsubjectId,lessonPlnrCtrl.formFields.showClassId)"
                                                                                          data-ng-model="lessonPlnrCtrl.formFields.showsubjectId"
                                                                                          tabindex="2" required>
                                                                                          <option value="">Select Subject</option>
                                                                                          <option ng-repeat="subject in lessonPlnrCtrl.subjectList|unique:'subjectName'" value="{{subject.id}}">{{subject.subjectName}}</option>
                                                                                    </select>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="btn-group pull-right">
                                                                        <button data-target="#add-chapter" id="newthing" data-ng-click="lessonPlnrCtrl.defaultChapterNo();" style="display:none;"
                                                                              data-toggle="modal" class="btn green" tabindex="3"
                                                                              ng-hide="userRole == 'Student'">
                                                                              Add Chapter
                                                                              <i class="fa fa-plus"></i>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <div class="row">
                                                            <div class="col-md-12" style="display:none;" id="TBL">
                                                                  <table class="table table-striped table-hover table-bordered sm_editable_grid"  border="1px solid black">

                                                                        <thead>
                                                                              <tr>
                                                                                    <th style="width:10%">
                                                                                          Chapter No
                                                                                    </th>
                                                                                    <th style="width:20%">
                                                                                          Chapter Name
                                                                                    </th>
                                                                                    <th style="width:10%">
                                                                                          No Of Classes
                                                                                    </th>
                                                                                    <th style="width:10%">
                                                                                          Planned Start Date
                                                                                    </th>
                                                                                    <th style="width:10%">
                                                                                          Planned Completion Date
                                                                                    </th>
                                                                                    <th class="text-center" ng-hide="userRole == 'Student'">
                                                                                          Add topic
                                                                                    </th>
                                                                                    <th class="text-center" ng-show="userRole == 'Student'">
                                                                                          View topic
                                                                                    </th>
                                                                                    <th class="text-center" ng-hide="userRole == 'Student'">
                                                                                          Edit
                                                                                    </th>
                                                                                    <th class="text-center" ng-hide="userRole=='Student'">
                                                                                          Delete
                                                                                    </th>
                                                                              </tr>
                                                                        </thead>

                                                                        <tbody ng-repeat="show in lessonPlnrCtrl.showData">
                                                                              <!-- {{lessonPlnrCtrl.showData}} -->
                                                                              <tr>
                                                                                    <!--<td>{{show.chapterNo}}</td>-->
                                                                                    <td>
                                                                                                <a class="btn btn-link" ng-click="lessonPlnrCtrl.closeToggle($index) " tabindex="8" style="padding:0px!important;color:#26a69a">
                                                                                          {{show.chapterNo}}
                                                                                          <span class="glyphicon glyphicon-plus-sign" ng-if="!lessonPlnrCtrl.tott[$index]"></span>
                                                                                          <span class="glyphicon glyphicon-minus-sign" ng-if="lessonPlnrCtrl.tott[$index]"></span>
                                                                                          </a>
                                                                                    </td>   
                                                                                    <td  ng-hide="userRole=='Student'"><a href="javascript:void(0)"  data-toggle="modal" data-ng-click="lessonPlnrCtrl.editmode = false;lessonPlnrCtrl.setFloatLabel();lessonPlnrCtrl.showMoreDetails($index);lessonPlnrCtrl.returnToAddTopic(show);">{{show.chapterName}}</a></td>
                                                                                    <td  ng-show="userRole=='Student'"><a href="javascript:void(0)"  data-toggle="modal" data-ng-click="lessonPlnrCtrl.editmode = false;lessonPlnrCtrl.setFloatLabel();lessonPlnrCtrl.showMoreDetails($index);lessonPlnrCtrl.returnToAddTopic(show);"> {{show.chapterName}}</a></td>
                                                                                    <td>{{show.noOfClasses}}</td>
                                                                                    <!-- <td>{{show.ScheduleVirtualClassRoom}}</td> -->
                                                                                    <!-- <td>{{show.TopicNo}}</td> -->
                                                                                    <td ng-init="lessonPlnrCtrl.firstStartDate(show)">{{show.PlannedClassToStartDate|date:'dd-MM-yyyy'}}</td>
                                                                                    <!-- <td>{{TopicName.TopicNo}}</td> -->
                                                                                    <td ng-init="lessonPlnrCtrl.firstStartDate(show)">{{show.PlannedClassToEndDate|date:'dd-MM-yyyy'}}</td>
                                                                                    
                                                                                    <td class="text-center">
                                                                                          <a href="javascript:void(0)" data-ng-click="lessonPlnrCtrl.editmode = false;lessonPlnrCtrl.setFloatLabel();lessonPlnrCtrl.showMoreDetails($index);lessonPlnrCtrl.returnToAddTopic(show);" tabindex="9">
                                                                                                <i class="fa fa-file-text"></i>
                                                                                          </a>
                                                                                    </td>
                                                                                    <td class="text-center" ng-hide="userRole=='Student'">
                                                                                          <a href="javascript:void(0);" data-target="#add-chapter" tabindex="10" data-toggle="modal" data-ng-click="lessonPlnrCtrl.editmode = false; lessonPlnrCtrl.editNotice($index)">
                                                                                                <i class="fa fa-edit"></i>
                                                                                          </a>
                                                                                    </td>
                                                                                    <td class="text-center" ng-hide="userRole=='Student'">
                                                                                          <a href="javascript:void(0);" tabindex="11" ng-bootbox-confirm="Are you sure you want to delete this record ?" ng-bootbox-confirm-action="lessonPlnrCtrl.confirmCallbackMethod($index)"
                                                                                                ng-bootbox-confirm-action-cancel="lessonPlnrCtrl.confirmCallbackCancel($index)">
                                                                                                <i class="fa fa-remove"></i>
                                                                                          </a>
                                                                                    </td>
                                                                              </tr>
                                                                                    <tr ng-if="lessonPlnrCtrl.tott[$index]">
                                                                                                            <td></td>
                                                                                                            <td colspan="10">
                                                                                                                  <table class="table table-striped table-hover table-bordered sm_editable_grid">
                                                                                                                  <thead>
                                                                                                                  <tr>
                                                                                                                        <th>Topic No</th>
                                                                                                                        <th>Topic Name</th>
                                                                                                                        <th>No.of Classes	</th>
                                                                                                                        <th>Planned Class To Start Date</th>
                                                                                                                        <th>Planned Class To End Date</th>
                                                                                                                  </tr>
                                                                                                                  </thead>
                                                                                                                  <tbody>
                                                                                                                  <tr ng-repeat="topic in show.topicList">
                                                                                                                        <td>{{topic.TopicNo}}</td>
                                                                                                                        <td>{{topic.TopicName}}</td>
                                                                                                                        <td>{{topic.noOfClasses}}</td>
                                                                                                                        <td>{{topic.PlannedClassToStartDate}}</td>
                                                                                                                        <td>{{topic.PlannedClassToEndDate}}</td>
                                                                                                                  </tr>
                                                                                                                  </tbody>
                                                                                                                  </table>
                                                                                                            </td>
                                                                                                            </tr>
                                                                        </tbody>
                                                                  </table>
                                                            </div>
                                                      </div>

                                                      <!-- EDIT MODAL -->
                                                    

                  <div id="add-chapter" class="modal right fade bs-modal-lg" data-keyboard="false" data-backdrop="static">
                        <!-- EDIT MODAL -->
                        <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          <a href="javascript:void(0)" title="Close" class="modal-close pull-right" aria-hidden="true" data-ng-click="lessonPlnrCtrl.closeModal()">
                                                                                    <span class="icon-close"></span>
                                                                              </a>
                                          <h4 class="modal-title font-green">Chapter</h4>
                                    </div>
                                    <div class="modal-body">
                                          <div class="row profile">
                                                <div class="col-md-12">
                                                      <div class="row">
                                                            <div class="col-md-12 profile-info">
                                                                  <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                                              <input type="text" allow-date class="form-control input-sm edited" name="chapterNo" ng-disabled="true" tabindex="5" data-ng-model="lessonPlnrCtrl.formFields.chapterNo"
                                                                                    maxlength="50" required>
                                                                              <label for="form_control_1">Chapter
                                                                                                                        No
                                                                                                                  </label>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                                                    <input type="text" class="form-control input-sm edited"
                                                                                    data-ng-keyup="lessonPlnrCtrl.toggleButton(this,'bttnsubmit');"
                                                                                    name="chapterName" tabindex="27" data-ng-model="lessonPlnrCtrl.formFields.chapterName"
                                                                                    maxlength="50" required>
                                                                                    <label for="form_control_1">Chapter
                                                                                                                        Name

                                                                                                                  </label>
                                                                        </div>
                                                                  </div>
                                                                  <div class="form-group">
                                                                        <button type="submit" class="btn green" data-ng-click="lessonPlnrCtrl.chapterAction()" tabindex="7"><i class="fa fa-check"></i>Submit</button>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <!-- EDIT MODAL END-->

                  <!-- ADD TOPIC MODAL START-->
            </div>
            <!-- ADD TOPIC MODAL END-->

            <!-- ADD TOPIC MODAL START-->
      </div>
      <!-- ADD TOPIC MODAL END-->

      <!-- ADD TOPIC MODAL START-->
</div>
<!-- ADD TOPIC MODAL END-->
</div>
<!-- END PORTLET-BODY-->
</div>
<!-- END EXAMPLE TABLE PORTLET-FIT-->
</div>
</div>
</div>
<!-- END PAGE CONTENT INNER -->
</div>
</div>
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<script>
      $(document).ready(function () {
            $(':button[type="submit"]').prop('disabled', true);
            $('input[type="text"]').keyup(function () {
                  if ($(this).val() != '') {
                        $(':button[type="submit"]').prop('disabled', false);
                  }
            });
      });

</script>